@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("http://fonts.cdnfonts.com/css/notera");
@import url("http://fonts.cdnfonts.com/css/affogato");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}
