.headerContainer {
  @include sectionHeader;
  .logo {
    @include logo;
  }
  nav {
    display: flex;
    .listHeader {
      @include contListHeader;
      li {
        a {
          @include header;
          position: relative;
          display: flex;
          &::before {
            content: "";
            bottom: 12px;
            left: 20px;
            height: 1px;
            width: 0;
            position: absolute;
            background: $cSecundaria;
            transition: all 0.3s ease;
          }
        }
        &:nth-child(1) {
          &:hover {
            a {
              &::before {
                width: 60px;
              }
            }
          }
        }
        &:nth-child(2) {
          &:hover {
            a {
              &::before {
                height: 1px;
                width: 50px;
              }
            }
          }
        }
        &:nth-child(3) {
          &:hover {
            a {
              &::before {
                height: 1px;
                width: 72px;
              }
            }
          }
        }
        &:nth-child(4) {
          &:hover {
            a {
              &::before {
                height: 1px;
                width: 60px;
              }
            }
          }
        }
      }
    }
  }
  .menuHamb {
    display: none;
  }
}

@media (max-width: 680px) {
  .headerContainer {
    justify-content: space-between;
    &.active {
      position: relative;
      nav {
        position: static;
        display: flex;
        .listHeader {
          animation: right 0.3s ease-in-out;
          width: 180px;
          height: 200px;
          background: #39393983;
          position: absolute;
          flex-direction: column;
          right: 10px;

          li {
            a {
              color: $white;
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
    nav {
      display: none;
    }
    .menuHamb {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 10px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 22;
      &.active {
        .hamb {
          transform: translateX(-25px);
          opacity: 0;
        }
        &::before {
          transform: rotate(-45deg);
          top: 19px;
        }
        &::after {
          transform: rotate(45deg);
          top: 19px;
        }
      }
      .hamb {
        position: absolute;
        content: "";
        width: 25px;
        height: 2px;
        background: $cPrimaria;
        transition: all 0.3s ease;
        border-radius: 12px;
      }
      &:after,
      &:before {
        position: absolute;
        width: 25px;
        height: 2px;
        content: "";
        background: $cPrimaria;
        transition: all 0.3s ease;
        border-radius: 12px;
      }
      &:before {
        top: 24px;
      }
      &:after {
        top: 14px;
      }
    }
  }
}
