.returnStart {
  position: fixed;
  bottom: -2%;
  right: 5%;
  width: 55px;
  height: 55px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99;
  background-color: rgba(138, 138, 138, 0.6);
  transform: rotate(-90deg);
  display: none;

  svg {
    cursor: pointer;
    fill: $white;
  }

  &.active {
    display: flex;
    animation: returnStart 0.3s forwards;
  }
}

